<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DbConnSettings" type="System.Configuration.NameValueSectionHandler" />
    <sectionGroup name="DatabaseGroup">
      <section name="Connections" type="System.Configuration.NameValueSectionHandler" />
      <section name="others" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <section name="DbConnEncrypting" type="System.Configuration.NameValueSectionHandler" />
	<section name="DbSettings" type="_20200419.IO.DbSettings, 20200419" />
  </configSections>
  
  <configProtectedData>
    <providers>
      <add name="DbConn_Provider"
           type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           keyContainerName="DbConn_Key"
           useMachineContainer="true"/>
    </providers>
  </configProtectedData>
  
  <!-- aspnet_regiis -pc "DbConn_Key" -exp -->
  <!-- aspnet_regiis -pef "DbConnEncrypting" "C:\Users\User\Desktop\20200419\20200419" -prov "DbConn_Provider" -->
  <!-- aspnet_regiis -pdf "DbConnEncrypting" "C:\Users\User\Desktop\20200419\20200419" -->
  <!-- aspnet_regiis -px "DbConn_Key" "C:\Users\User\Desktop\20200419\20200419\DbConn_Key.xml" -pri -->
  <!-- aspnet_regiis -pi "DbConn_Key" "C:\Users\Rem\Desktop\新增資料夾 (5)\20200505\20200419\20200419\DbConn_Key.xml" -->
  <!-- aspnet_regiis -pa "DbConn_Key" "PC\User" -->
  <!-- aspnet_regiis -pz "DbConn_Key" -->
  
  <!--
  <DbConnEncrypting>
    <add key="EncryptingUser" value="root" />
    <add key="EncryptingPswd" value="SuperUser_" />
  </DbConnEncrypting>
  -->
  
  <!-- protection data -->
  <DbConnEncrypting configProtectionProvider="DbConn_Provider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>h+j6R0nEsX822KrpL6Cjzqj8h4z8DGN6yGk1Y0s1fvnhPyEIGTSfrQIZRGRZ2Ol2FQ31X2L9/zeraB4+giMr8HrH6Vtov+U2B0VDdjfaadeiwPE+7htK1TaVNTeWEpGQ8T0Nuflky5KpaZIUZr5VtAq2sTzQrBIegai+bvld9CE=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>SXd2yVbDyXu+40lhk9Y6XPo3ncy2vTV5b/egsH41TI7u3+ZNU7am3ypMGpbtQRHa3rcIpQUqPpYZxHc+Qt4IH8JMUGbD7mTNuZ/fukO0c7kebF5lU8905x+2/QAtoN2CIacO9c1bQdkHQT8yrfONjTlxK4D4V2ytXS31tsHnr7Z5c7MtllZRDv664pcyltknZ/T4Q/ThrHk=</CipherValue>
      </CipherData>
    </EncryptedData>
  </DbConnEncrypting>
  
  <!-- most common method (a default) -->
  <appSettings>
    <add key="PlainUser" value="root" />
    <add key="PlainPswd" value="SuperUser_" />
  </appSettings>
  
  <!-- variation 1  -->
  <DbConnSettings>
    <add key="PlainUser" value="root" />
    <add key="PlainPswd" value="SuperUser_" />
  </DbConnSettings>
  
  <!-- variation 2 -->
  <DatabaseGroup>
    <Connections>
      <add key="PlainUser" value="root" />
      <add key="PlainPswd" value="SuperUser_" />
    </Connections>
    <others>
      <add key="MyDbName" value="MySQL" />
      <add key="version" value="8.0.11" />
    </others>
  </DatabaseGroup>
  
  <!-- variation 3 -->
  <DbSettings>
    <DbConnections PlainUser="root" PlainPswd="SuperUser_">
    </DbConnections>
  </DbSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>