<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DbConnSettings" type="System.Configuration.NameValueSectionHandler" />
    <sectionGroup name="DatabaseGroup">
      <section name="Connections" type="System.Configuration.NameValueSectionHandler" />
      <section name="others" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <section name="DbConnEncrypting" type="System.Configuration.NameValueSectionHandler" />
    <section name="DbSettings" type="_20200419.IO.DbSettings, 20200419" />
  </configSections>
  <configProtectedData>
    <providers>
      <add name="DbConn_Provider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="DbConn_Key" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <!-- aspnet_regiis -pc "DbConn_Key" -exp -->
  <!-- aspnet_regiis -pef "DbConnEncrypting" "C:\Users\User\Desktop\20200419\20200419" -prov "DbConn_Provider" -->
  <!-- aspnet_regiis -pdf "DbConnEncrypting" "C:\Users\User\Desktop\20200419\20200419" -->
  <!-- aspnet_regiis -px "DbConn_Key" "C:\Users\User\Desktop\20200419\20200419\DbConn_Key.xml" -pri -->
  <!-- aspnet_regiis -pi "DbConn_Key" "C:\Users\Rem\Desktop\新增資料夾 (5)\20200505\20200419\20200419\DbConn_Key.xml" -->
  <!-- aspnet_regiis -pa "DbConn_Key" "PC\User" -->
  <!-- aspnet_regiis -pz "DbConn_Key" -->
  <!--
  <DbConnEncrypting>
    <add key="EncryptingUser" value="root" />
    <add key="EncryptingPswd" value="SuperUser_" />
  </DbConnEncrypting>
  -->
  <!-- Encryption data -->
  <DbConnEncrypting configProtectionProvider="DbConn_Provider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>h+j6R0nEsX822KrpL6Cjzqj8h4z8DGN6yGk1Y0s1fvnhPyEIGTSfrQIZRGRZ2Ol2FQ31X2L9/zeraB4+giMr8HrH6Vtov+U2B0VDdjfaadeiwPE+7htK1TaVNTeWEpGQ8T0Nuflky5KpaZIUZr5VtAq2sTzQrBIegai+bvld9CE=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>SXd2yVbDyXu+40lhk9Y6XPo3ncy2vTV5b/egsH41TI7u3+ZNU7am3ypMGpbtQRHa3rcIpQUqPpYZxHc+Qt4IH8JMUGbD7mTNuZ/fukO0c7kebF5lU8905x+2/QAtoN2CIacO9c1bQdkHQT8yrfONjTlxK4D4V2ytXS31tsHnr7Z5c7MtllZRDv664pcyltknZ/T4Q/ThrHk=</CipherValue>
      </CipherData>
    </EncryptedData>
  </DbConnEncrypting>
  <!-- most common method (a default) -->
  <appSettings configProtectionProvider="DbConn_Provider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>CmEDxYSkSbqdqkHzNRjQ1w1R4M3Amy8nZDMWa/bSLLB6kid78q9+eRne+2/WS7oIgFp5xDzZ4BSZj4Y//lOdbLgzdw9DdggvQiSYh2X4u2L+V0IBsOaWJj72GrnqdpaAbjKR+7o+3C9nvqgAxUd/SMa3Bi70xPHg9Rh3BmWQ1hU=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>TzfOG8S3p4ai7Z6/Sm3YA2BYz/yi2zwP0v8v3KTi543VwFpy0FdQzjlJP3xadQieDEsGmhVjz4eYpNPToNlW3yB7ZxTHbHibfv1pOx1IEWHqRXh2SyPW3BjzKuc8nkdfqecBd7FAr343wLf3hk4FLD6ky7Z4OoFpvmf3dv74pAQ=</CipherValue>
      </CipherData>
    </EncryptedData>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!-- variation 1  -->
  <DbConnSettings>
    <add key="PlainUser" value="root" />
    <add key="PlainPswd" value="SuperUser_" />
  </DbConnSettings>
  <!-- variation 2 -->
  <DatabaseGroup>
    <Connections configProtectionProvider="DbConn_Provider">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
              <KeyName>Rsa Key</KeyName>
            </KeyInfo>
            <CipherData>
              <CipherValue>I/3u5NeG/NLUtWpRMl2yIlmVEjPNlED0Lu0lzHoFUNiLoB8Smt12MGgguNQwULfO8TXzLz+7M3utyVOGMSBH9aIz+09uQjg9eybU4RyGKVd2fNCLh1mUTswql5uIL+uyBfQVXiXEEfeWYecxKcHsQhPSZJ2sk7ZYf57D6+HUztA=</CipherValue>
            </CipherData>
          </EncryptedKey>
        </KeyInfo>
        <CipherData>
          <CipherValue>6DgUkzFZzh/1wE/deyWPKdn4S2lPXwM3zlov+qTGIcVpJi+zfbXy6ibF7KX9ZbboKxs2yn/Ce5+EQoe1tfpHWBlyWbRXPo8LWCyIPnR1h4JFc/qKgnQCyd9CobjunxEDXIx70KroZoJAee2lr1we0XStaneqDMiIj4S75LGFswjtij2SJRbkkg==</CipherValue>
        </CipherData>
      </EncryptedData>
    </Connections>
    <others configProtectionProvider="DbConn_Provider">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
              <KeyName>Rsa Key</KeyName>
            </KeyInfo>
            <CipherData>
              <CipherValue>c4z9s0mHDvFSNGvB3s+rr14JMfVAxOvwohXY8bcTqpIAZejDphrAAKs6T09dCDpbS8czzv+Wp8LlKh2pQaz4um5EyAG/glX2ab//1Y2UjgNntVAp9NSUbs54nyUd4KgK+WmsYwVAEbaTJAnjSxlmBua2qGiws2s6fNJ/srIi9sc=</CipherValue>
            </CipherData>
          </EncryptedKey>
        </KeyInfo>
        <CipherData>
          <CipherValue>qCEDVJnEULjf0miMvtFg1P2mUAOCdWcwyinE4s+iE/3c79tQ4XlsW5XVK15PddoZUdhMiPHVur1NrAEXIaT711PUvv9OGRQO9B8i3ZuwTUyEX+E/9IfSCcu421p3EPpuDrX8X6lpFSwwcfyFOlMKI9fJMdPFEFlu</CipherValue>
        </CipherData>
      </EncryptedData>
    </others>
  </DatabaseGroup>
  <DbSettings>
    <DbConnections PlainUser="root" PlainPswd="SuperUser_">
    </DbConnections>
  </DbSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!--<system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>-->
</configuration>